fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core
langchain-aws

langchain[openai]
langchain[anthropic]
langchain[google-genai]

httpx
pydantic
boto3
mcp>=1.2.0
Pillow

pytest>=7.0.0
pytest-cov>=4.1.0
langchain-aws
