fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core
langchain-aws

langchain[openai]
langchain[anthropic]
langchain[google-genai]

httpx
pydantic
boto3

pytest>=7.0.0
pytest-cov>=4.1.0
langchain-aws
